{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "chrome": "70",
        "node": "current",
        "esmodules": true
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "lodash",
    "transform-object-assign",
    "transform-react-constant-elements",
    "transform-react-inline-elements",
    "transform-react-jsx-compat",
    "babel-plugin-transform-dynamic-import",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-for-of",
    "babel-plugin-idx",
    [
      "module-resolver", {
        "root": ["./"],
        "alias": {
          "^mocks": "./__mock__"
        }
      }
    ]
  ]
}
