/build/
/electron/app/*
/electron/app/assets*
!/electron/app/.gitkeep
/electron/capacitor.config.json
/android/app/src/main/assets/public/*
!/android/app/src/main/assets/public/.gitkeep
/ios/IonicRunner/public/*
!/ios/IonicRunner/public/.gitkeep
/stats.json
npm-debug.log
*.swp
*.swo
.idea/
dist
.sourcemaps
xcuserdata/
node_modules/
cli/dist/commands/copy.js
Pods/
test_project/
*.map
.DS_Store
Build/*
Index/
.*.sw*
site/www
android-template.iml
!/build/.npmkeep
lerna-debug.log
capacitor-ios/
local.properties
contents.xcworkspacedata
.stencil/
yarn-error.log
.vs/
.vscode/